# Django is needed to run Django
Django

# gunicorn is needed by Heroku to launch the web server
gunicorn

# Needed for envioronment variables
python-dotenv

# Packages needed for Google Auth
social-auth-app-django
requests