<body>
    <h1>Team B-05 Project Page</h1>
    <h2>Currently W.I.P</h2>
    <h3>This will be the admin dashboard page</h3>

    <p>Logged in as ADMIN: {{ user_id }}</p>
    <p>Welcome to the dashboard, {{ full_name }}!</p>

    <a href="{% url 'projectpage:add_task' %}">Add Task</a> <br>
    <h2>Task List:</h2>
    <ul>
        {% for task in task_list %}
            <li>{{ task.task_title }} -- {{ task.deadline }} -- <a href="{% url 'projectpage:delete_task' task.id %}">Remove</a></li>
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'logout'%}">Logout</a> <br>
</body>
