
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container mt-5">
        <h1 class="text-center mb-4">All Projects</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Request Access</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.title }}</td>
                            <td>
                                {% if project in already_requested %}
                                    <button type="submit" disabled class="btn btn-primary btn-sm">Already Requested</button>
                                {% elif user not in project.members.all and user != project.owner%}
                                    <form method="POST" action="{% url 'projectpage:request_access' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-sm" name="project_id" value="{{ project.id }}">Request Access</button>
                                    </form>
                                {% else %}
                                        <button type="submit" disabled class="btn btn-primary btn-sm">Already in Project</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <div class="text-center mt-4">
            <a href="{% url 'projectpage:dashboard' %}" class="btn btn-dark">Back to Dashboard</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
